In [2]:
import pandas as pd 
file_path = '../Landing/brands.csv'
df = pd.read_csv(file_path)
df

   brand_id    brand_name                   Timestamp
0         1       Electra  2024-05-02 00:55:47.042600
1         2          Haro  2024-05-02 00:55:47.042600
2         3        Heller  2024-05-02 00:55:47.042600
3         4   Pure Cycles  2024-05-02 00:55:47.042600
4         5       Ritchey  2024-05-02 00:55:47.042600
5         6       Strider  2024-05-02 00:55:47.042600
6         7  Sun Bicycles  2024-05-02 00:55:47.042600
7         8         Surly  2024-05-02 00:55:47.042600
8         9          Trek  2024-05-02 00:55:47.042600

In [3]:
#check for nulls
df.isnull().sum()

brand_id      0
brand_name    0
Timestamp     0
dtype: int64

In [8]:
df.duplicated().sum()

0

### since there are no nulls or duplicates we can write the file

In [9]:
import os

# Define the file path
output_directory = "../staging_1"
output_file_path = os.path.join(output_directory, "brands.csv")

# Write the DataFrame to CSV
df.to_csv(output_file_path, index=False)