In [1]:
import pandas as pd 
file_path = '../Landing/categories.csv'
df = pd.read_csv(file_path)
df

   category_id        category_name                   Timestamp
0            1    Children Bicycles  2024-05-02 00:55:47.042600
1            2     Comfort Bicycles  2024-05-02 00:55:47.042600
2            3    Cruisers Bicycles  2024-05-02 00:55:47.042600
3            4  Cyclocross Bicycles  2024-05-02 00:55:47.042600
4            5       Electric Bikes  2024-05-02 00:55:47.042600
5            6       Mountain Bikes  2024-05-02 00:55:47.042600
6            7           Road Bikes  2024-05-02 00:55:47.042600

In [2]:
#check for nulls
df.isnull().sum()

category_id      0
category_name    0
Timestamp        0
dtype: int64

In [3]:
df.duplicated().sum()

0

### since there are no nulls or duplicates we can write the file

In [4]:
import os

# Define the file path
output_directory = "../staging_1"
output_file_path = os.path.join(output_directory, "categories.csv")

# Write the DataFrame to CSV
df.to_csv(output_file_path, index=False)