In [1]:
import pandas as pd 
file_path = '../Landing/customers.csv'
df = pd.read_csv(file_path)
df

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,Timestamp
0,1,Debra,Burks,NaN,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,2024-05-02 00:55:47.043606
1,2,Kasha,Todd,NaN,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,2024-05-02 00:55:47.043606
2,3,Tameka,Fisher,NaN,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,2024-05-02 00:55:47.043606
3,4,Daryl,Spence,NaN,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,2024-05-02 00:55:47.043606
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,2024-05-02 00:55:47.043606
...,...,...,...,...,...,...,...,...,...,...
1440,1441,Jamaal,Morrison,NaN,jamaal.morrison@msn.com,796 SE. Nut Swamp St.,Staten Island,NY,10301,2024-05-02 00:55:47.043606
1441,1442,Cassie,Cline,NaN,cassie.cline@gmail.com,947 Lafayette Drive,Brooklyn,NY,11201,2024-05-02 00:55:47.043606
1442,1443,Lezlie,Lamb,NaN,lezlie.lamb@gmail.com,401 Brandywine Street,Central Islip,NY,11722,2024-05-02 00:55:47.043606
1443,1444,Ivette,Estes,NaN,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424,2024-05-02 00:55:47.043606
1444,1445,Ester,Acevedo,NaN,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580,2024-05-02 00:55:47.043606

In [2]:
#check for nulls
df.isnull().sum()

customer_id       0
first_name        0
last_name         0
phone          1267
email             0
street            0
city              0
state             0
zip_code          0
Timestamp         0
dtype: int64

In [3]:
df['phone'].fillna('UNKNOWN',inplace = True)

C:\Users\M.El-fiqy\AppData\Local\Temp\ipykernel_2284\2940120664.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['phone'].fillna('UNKNOWN',inplace = True)

In [4]:
df.isnull().sum()

customer_id    0
first_name     0
last_name      0
phone          0
email          0
street         0
city           0
state          0
zip_code       0
Timestamp      0
dtype: int64

In [5]:
df.duplicated().sum()

0

### since there are duplicates and we handled null we can write the file

In [6]:
import os

# Define the file path
output_directory = "../staging_1"
output_file_path = os.path.join(output_directory, "customers.csv")

# Write the DataFrame to CSV
df.to_csv(output_file_path, index=False)