In [1]:
import pandas as pd 
file_path = '../Landing/products.csv'
df = pd.read_csv(file_path)
df

,product_id,product_name,brand_id,category_id,model_year,list_price,Timestamp
0,1,Trek 820 - 2016,9,6,2016,379.99,2024-05-02 00:55:47.043606
1,2,Ritchey Timberwolf Frameset - 2016,5,6,2016,749.99,2024-05-02 00:55:47.043606
2,3,Surly Wednesday Frameset - 2016,8,6,2016,999.99,2024-05-02 00:55:47.043606
3,4,Trek Fuel EX 8 29 - 2016,9,6,2016,2899.99,2024-05-02 00:55:47.043606
4,5,Heller Shagamaw Frame - 2016,3,6,2016,1320.99,2024-05-02 00:55:47.043606
...,...,...,...,...,...,...,...
329,317,Trek Checkpoint ALR 5 - 2019,9,7,2019,1999.99,2024-05-02 00:55:47.043606
330,318,Trek Checkpoint ALR 5 Women's - 2019,9,7,2019,1999.99,2024-05-02 00:55:47.043606
331,319,Trek Checkpoint SL 5 Women's - 2019,9,7,2019,2799.99,2024-05-02 00:55:47.043606
332,320,Trek Checkpoint SL 6 - 2019,9,7,2019,3799.99,2024-05-02 00:55:47.043606
333,321,Trek Checkpoint ALR Frameset - 2019,9,7,2019,3199.99,2024-05-02 00:55:47.043606

In [2]:
#check for nulls
df.isnull().sum()

product_id      0
product_name    0
brand_id        0
category_id     0
model_year      0
list_price      0
Timestamp       0
dtype: int64

In [3]:
df.duplicated().sum()

13

In [5]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

### since there are no nulls and we handled duplicates we can write the file

In [6]:
import os

# Define the file path
output_directory = "../staging_1"
output_file_path = os.path.join(output_directory, "products.csv")

# Write the DataFrame to CSV
df.to_csv(output_file_path, index=False)