In [1]:
import pandas as pd 
file_path = '../Landing/staffs.csv'
df = pd.read_csv(file_path)
df

,staff_id,first_name,last_name,email,phone,active,store_id,manager_id,Timestamp
0,1,Fabiola,Jackson,fabiola.jackson@bikes.shop,NaN,1,NaN,NaN,2024-05-02 00:55:47.043606
1,2,Mireya,NaN,mireya.copeland@bikes.shop,(831) 555-5555,1,1.0,1.0,2024-05-02 00:55:47.043606
2,3,Genna,Serrano,genna.serrano@bikes.shop,(831) 555-5556,1,1.0,2.0,2024-05-02 00:55:47.043606
3,4,Virgie,Wiggins,virgie.wiggins@bikes.shop,(831) 555-5557,1,1.0,2.0,2024-05-02 00:55:47.043606
4,5,Jannette,David,jannette.david@bikes.shop,(516) 379-4444,1,2.0,1.0,2024-05-02 00:55:47.043606
5,6,Marcelene,Boyer,NaN,(516) 379-4445,1,2.0,5.0,2024-05-02 00:55:47.043606
6,7,Venita,Daniel,venita.daniel@bikes.shop,NaN,1,2.0,5.0,2024-05-02 00:55:47.043606
7,8,Kali,Vargas,kali.vargas@bikes.shop,(972) 530-5555,1,3.0,1.0,2024-05-02 00:55:47.043606
8,9,Layla,Terrell,layla.terrell@bikes.shop,(972) 530-5556,1,3.0,7.0,2024-05-02 00:55:47.043606
9,10,Bernardine,Houston,bernardine.houston@bikes.shop,(972) 530-5557,1,3.0,7.0,2024-05-02 00:55:47.043606

In [2]:
#check for nulls
df.isnull().sum()

staff_id      0
first_name    0
last_name     1
email         1
phone         2
active        0
store_id      1
manager_id    1
Timestamp     0
dtype: int64

In [3]:
df.fillna('UNKNOWN',inplace =True)
df.isnull().sum()

C:\Users\M.El-fiqy\AppData\Local\Temp\ipykernel_7804\3175109403.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'UNKNOWN' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('UNKNOWN',inplace =True)

staff_id      0
first_name    0
last_name     0
email         0
phone         0
active        0
store_id      0
manager_id    0
Timestamp     0
dtype: int64

In [4]:
df.duplicated().sum()

0

### since there are no duplicates and we handeled nulls we can write the file

In [5]:
import os

# Define the file path
output_directory = "../staging_1"
output_file_path = os.path.join(output_directory, "staffs.csv")

# Write the DataFrame to CSV
df.to_csv(output_file_path, index=False)