In [1]:
import pandas as pd 
file_path = '../Landing/stocks.csv'
df = pd.read_csv(file_path)
df

     store_id  product_id  quantity                   Timestamp
0           1           1        27  2024-05-02 00:55:47.044600
1           1           2         5  2024-05-02 00:55:47.044600
2           1           3         6  2024-05-02 00:55:47.044600
3           1           4        23  2024-05-02 00:55:47.044600
4           1           5        22  2024-05-02 00:55:47.044600
..        ...         ...       ...                         ...
934         3         309        30  2024-05-02 00:55:47.044600
935         3         310         8  2024-05-02 00:55:47.044600
936         3         311        23  2024-05-02 00:55:47.044600
937         3         312        18  2024-05-02 00:55:47.044600
938         3         313         0  2024-05-02 00:55:47.044600

[939 rows x 4 columns]

In [2]:
#check for nulls
df.isnull().sum()

store_id      0
product_id    0
quantity      0
Timestamp     0
dtype: int64

In [3]:
df.duplicated().sum()

0

### since there are no nulls or duplicates we can write the file

In [4]:
import os

# Define the file path
output_directory = "../staging_1"
output_file_path = os.path.join(output_directory, "stocks.csv")

# Write the DataFrame to CSV
df.to_csv(output_file_path, index=False)