In [1]:
import pandas as pd 
file_path = '../Landing/stores.csv'
df = pd.read_csv(file_path)
df

,store_id,store_name,phone,email,street,city,state,zip_code,Timestamp
0,1,Santa Cruz Bikes,(831) 476-4321,NaN,3700 Portola Drive,Santa Cruz,CA,NaN,2024-05-02 00:55:47.044600
1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,2024-05-02 00:55:47.044600
2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,2024-05-02 00:55:47.044600

In [5]:
#check for nulls
df.isnull().sum()

store_id      0
store_name    0
phone         0
email         1
street        0
city          0
state         0
zip_code      1
Timestamp     0
dtype: int64

In [6]:
df.fillna('UNKWOWN',inplace = True)
df.isnull().sum()

C:\Users\M.El-fiqy\AppData\Local\Temp\ipykernel_10376\676147990.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'UNKWOWN' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('UNKWOWN',inplace = True)

store_id      0
store_name    0
phone         0
email         0
street        0
city          0
state         0
zip_code      0
Timestamp     0
dtype: int64

In [7]:
df.duplicated().sum()

0

### since there are no duplicates and we handeled nulls we can write the file

In [8]:
import os

# Define the file path
output_directory = "../staging_1"
output_file_path = os.path.join(output_directory, "stores.csv")

# Write the DataFrame to CSV
df.to_csv(output_file_path, index=False)