In [1]:
import pandas as pd

customers = pd.read_csv('../staging_1/customers.csv')
customers

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,Timestamp
0,1,Debra,Burks,UNKNOWN,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,2024-05-02 00:55:47.043606
1,2,Kasha,Todd,UNKNOWN,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,2024-05-02 00:55:47.043606
2,3,Tameka,Fisher,UNKNOWN,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,2024-05-02 00:55:47.043606
3,4,Daryl,Spence,UNKNOWN,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,2024-05-02 00:55:47.043606
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,2024-05-02 00:55:47.043606
...,...,...,...,...,...,...,...,...,...,...
1440,1441,Jamaal,Morrison,UNKNOWN,jamaal.morrison@msn.com,796 SE. Nut Swamp St.,Staten Island,NY,10301,2024-05-02 00:55:47.043606
1441,1442,Cassie,Cline,UNKNOWN,cassie.cline@gmail.com,947 Lafayette Drive,Brooklyn,NY,11201,2024-05-02 00:55:47.043606
1442,1443,Lezlie,Lamb,UNKNOWN,lezlie.lamb@gmail.com,401 Brandywine Street,Central Islip,NY,11722,2024-05-02 00:55:47.043606
1443,1444,Ivette,Estes,UNKNOWN,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424,2024-05-02 00:55:47.043606
1444,1445,Ester,Acevedo,UNKNOWN,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580,2024-05-02 00:55:47.043606

In [2]:
stores = pd.read_csv('../staging_1/stores.csv')
stores

,store_id,store_name,phone,email,street,city,state,zip_code,Timestamp
0,1,Santa Cruz Bikes,(831) 476-4321,UNKWOWN,3700 Portola Drive,Santa Cruz,CA,UNKWOWN,2024-05-02 00:55:47.044600
1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,2024-05-02 00:55:47.044600
2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,2024-05-02 00:55:47.044600

In [11]:
cities = stores.city.unique()
cities

array(['Santa Cruz', 'Baldwin', 'Rowlett'], dtype=object)

In [12]:
customers.local = customers.city.isin(cities)
customers

C:\Users\M.El-fiqy\AppData\Local\Temp\ipykernel_11312\533515486.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  customers.local = customers.city.isin(cities)

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,Timestamp
0,1,Debra,Burks,UNKNOWN,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,2024-05-02 00:55:47.043606
1,2,Kasha,Todd,UNKNOWN,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,2024-05-02 00:55:47.043606
2,3,Tameka,Fisher,UNKNOWN,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,2024-05-02 00:55:47.043606
3,4,Daryl,Spence,UNKNOWN,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,2024-05-02 00:55:47.043606
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,2024-05-02 00:55:47.043606
...,...,...,...,...,...,...,...,...,...,...
1440,1441,Jamaal,Morrison,UNKNOWN,jamaal.morrison@msn.com,796 SE. Nut Swamp St.,Staten Island,NY,10301,2024-05-02 00:55:47.043606
1441,1442,Cassie,Cline,UNKNOWN,cassie.cline@gmail.com,947 Lafayette Drive,Brooklyn,NY,11201,2024-05-02 00:55:47.043606
1442,1443,Lezlie,Lamb,UNKNOWN,lezlie.lamb@gmail.com,401 Brandywine Street,Central Islip,NY,11722,2024-05-02 00:55:47.043606
1443,1444,Ivette,Estes,UNKNOWN,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424,2024-05-02 00:55:47.043606
1444,1445,Ester,Acevedo,UNKNOWN,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580,2024-05-02 00:55:47.043606

In [13]:
import os 
save_directory = "../Staging_2"
csv_file_path1 = os.path.join(save_directory, "customers.csv")
df.to_csv(csv_file_path1, index=False)