In [10]:
import requests
import pandas as pd
response = requests.get('https://openexchangerates.org/api/latest.json' , params={'app_id' : 'a3a028b082a7484eb68a9dd1f0d6c89d'})

data = response.json()
df = pd.json_normalize(data)

df

,disclaimer,license,timestamp,base,rates.AED,rates.AFN,rates.ALL,rates.AMD,rates.ANG,rates.AOA,...,rates.XCD,rates.XDR,rates.XOF,rates.XPD,rates.XPF,rates.XPT,rates.YER,rates.ZAR,rates.ZMW,rates.ZWL
0,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,1714608029,USD,3.67284,72.094775,93.75,388.01106,1.80202,836.5,...,2.70255,0.758947,612.021737,0.001049,111.339036,0.001047,250.349961,18.59031,26.773697,322

In [11]:
df['timestamp'] = pd.to_datetime(df['timestamp'],unit='s')
df.rename(columns=lambda x: x.split('.')[1] if x.startswith('rates.') else x, inplace=True)
df = df[['timestamp', 'EGP']]
df['timestamp_extraction'] = pd.Timestamp.now()
df

C:\Users\M.El-fiqy\AppData\Local\Temp\ipykernel_6536\479217019.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['timestamp_extraction'] = pd.Timestamp.now()

            timestamp      EGP       timestamp_extraction
0 2024-05-02 00:00:29  47.6735 2024-05-02 03:06:55.420804

In [12]:
import os
save_directory = "../Landing"
csv_file_path = os.path.join(save_directory, "exchange.csv")
df.to_csv(csv_file_path, index=False)